<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="PubSub" version="4.0.1" targetFramework="net472" />
  <package id="Serilog" version="2.9.0" targetFramework="net472" />
  <package id="Serilog.Sinks.Trace" version="2.1.0" targetFramework="net472" />
  <package id="SimpleInjector" version="4.9.1" targetFramework="net472" />
</packages>